{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <section class="mx-auto bg-gray-50 lg:py-36">
        <div class="flex flex-col px-2 sm:px-2 md:px-4 lg:px-40 ">
            <div class="w-full">
                <p class="text-2xl text-transparent text-center bg-clip-text bg-gradient-to-br from-pink-500 to-orange-400">
                    Mon
                    portfolio,</p>
                <h1 class="text-5xl text-center text-zinc-800 py-2 sm:py-2 ld:py-4 lg:py-8">Mes projets</h1>
                <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius hic ipsam ipsum modi nam numquam quia
                    reprehenderit saepe veritatis voluptatum.
                </p>
                <section>
                    <div class="flex justify-between w-1/2 mx-auto py-8">
                        {% for category in categories %}
                            <h2 class="text-xl">
                                <a href="{{ path('projects', { category: category.slug }) }}" class="text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l
                            focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium
                            rounded-full shadow-xl text-sm px-5 py-2.5 text-center mr-2 mb-2">{{ category.name }}
                                </a>
                            </h2>
                        {% endfor %}
                    </div>
                </section>
            </div>
            {{ include('commons/_projects.html.twig') }}
            {{ knp_pagination_render(projects, 'commons/_pagination.html.twig') }}
        </div>
    </section>
{% endblock %}