<footer class="p-4 sm:p-6 bg-gray-50 dark:bg-gray-900">
    <div class="md:flex md:justify-center xl:px-44">
        <div class="w-full lg:w-1/2 mb-6 md:mb-0 mx-2 lg:mx-10">
            <a href="#" class="flex flex-col items-center">
                <div class="w-full flex flex-row justify-start py-4">
                    <img src="https://flowbite.com/docs/images/logo.svg" class="h-8 mr-3" alt="FlowBite Logo"/>
                    <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Liloë Bartnik</span>
                </div>
                <p class="py-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit eiusmod tempor incididunt labore
                    et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco consectetur.*
                </p>
            </a>
        </div>
        <div class="w-full lg:w-1/2 grid grid-cols-2 gap-0 sm:gap-6 mx-2 lg:mx-10">
            <div class="pt-6">
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Liens Utile</h2>
                <ul class="text-gray-600 dark:text-gray-400 pt-2 ">
                    <li class="mb-4">
                        <a href="#accueil" class="hover:underline  text-transparent bg-clip-text bg-gradient-to-br from-pink-500 to-orange-400">Accueil</a>
                    </li>
                    <li class="mb-4">
                        <a href="#a-propos" class="hover:underline  hover:text-transparent hover:bg-clip-text hover:bg-gradient-to-br hover:from-pink-500 hover:to-orange-400">A propos</a>
                    </li>
                    <li class="mb-4">
                        <a href="{{ path('projets') }}" class="hover:underline  hover:text-transparent hover:bg-clip-text hover:bg-gradient-to-br hover:from-pink-500 hover:to-orange-400">Projets</a>
                    </li>
                    <li class="mb-4">
                        <a href="#contact" class="hover:underline  hover:text-transparent hover:bg-clip-text hover:bg-gradient-to-br hover:from-pink-500 hover:to-orange-400">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="pt-6">
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Contact Info</h2>
                <div class="flex items-center py-2">
                    <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                         class="w-6 h-6 dark:text-white"
                    >
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M10.5 1.5H8.25A2.25 2.25 0 006 3.75v16.5a2.25 2.25 0 002.25 2.25h7.5A2.25 2.25 0 0018 20.25V3.75a2.25 2.25 0 00-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3"></path>
                    </svg>
                    <div class="flex flex-col">
                        <span class="ml-4  text-transparent bg-clip-text bg-gradient-to-br from-pink-500 to-orange-400">Téléphone</span>
                        <span class="ml-4 text-gray-600 dark:text-gray-400">
                            <a href="tel:+33612345678" class="hover:underline">+33 6 12 34 56 78</a>
                        </span>
                    </div>
                </div>
                <div class="flex items-center  py-2">
                    <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                         xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-6 h-6 dark:text-white">
                        <path stroke-linecap="round"
                              d="M16.5 12a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 10-2.636 6.364M16.5 12V8.25"></path>
                    </svg>
                    <div class="flex flex-col">
                        <span class="ml-4  text-transparent bg-clip-text bg-gradient-to-br from-pink-500 to-orange-400">Email</span>
                        <span class="ml-4 text-gray-600 dark:text-gray-400">
                            <a href="#" class="hover:underline">mail@test.com</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"/>
    <div class="flex flex-row justify-center">
       <span class="text-sm text-gray-500 text-center dark:text-gray-400">
        © 2023
        <a href="https://flowbite.com/"
           class="hover:underline">Liloë Bartnik
        </a>
        . Tout droit réservé.
        </span>
    </div>
</footer>